<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/cart.css"> 
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
      <ul class="cart__item-list">
        <% products.forEach(p => { %>
          <li class="cart__item">
            <h1><%= p.productId.title %></h1>
            <h2>Quantity: <%= p.quantity %></h2>
          </li>
        <% }) %>
      </ul>
      <div class="centered">
        <h2>Total: <%= totalSum %></h2>
      </div>
      <div class="centered">
        <button id="order-btn" class="btn">ORDER</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const stripe = Stripe("pk_test_51LOHn8F82Oo9s9FeGDQXoYdBZrqViGpp3qPQvAQ1uXCf2f2tYCKn7Ue1lnhp6k8xTYFZw24GzShDBxzmGDZg7yTm00WvgAuSkQ")
          document.getElementById("order-btn").addEventListener('click', () => {
            stripe.redirectToCheckout({
              sessionId: '<%= sessionId %>'
            });
          });
        </script>
      </div>
    </main>
<%- include('../includes/end.ejs') %>